@media screen and (max-width: 1000px) {
    .login-container{
      width: 70%;
      margin-top: 3rem;
      .login-info-container{
        width: 100%;
        border-radius: 5px;
      }
      .image-container{
        display: none;
      }
    }
  }
  
  @media screen and (max-width: 650px){
    .login-container{
      width: 90%;
    }
  }
  
  @media screen and (max-width: 500px){
    .login-container{
      height: 90%;
      .login-info-container{
        & > p{
          margin: 0;
        }
        .social-login{
          flex-direction: column;
          align-items: center;
          height: 30%;
          &-element{
            margin: 5px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 568px) {
    .carousel {
      .cards-wrapper {
        display: flex;
        .card {
          margin: 0 0.5em;
          width: calc(100% / 3);
          .image-wrapper {
            height: 22vw;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 567px) {
    .carousel {
      width: 80%;
      margin: 0 auto;
      .card:not(:first-child) {
        display: none;
        .image-wrapper {
          margin: 0 auto;
        }
      }
    }
  }
  
  @media (min-width: 700px) {
    .contact {
      &-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        & > * {
          padding: 2em;
        }
      }
      &-info h4,
      &-info ul,
      &-info p {
        text-align: left;
      }
    }
  }
  
  @media (max-width: 950px) {
    .contenedor {
      &__titulo h2 {
        font-size: map-get($map: $fuentes, $key:normal);
      }
      &__boton p {
        font-size: map-get($map: $fuentes, $key:small);
      }
    }
  }
  
  @media (max-width: 843px) {
    .contenedor {
      &__titulo {
        display: none;
      }
    }
  }
  
  @media (max-width: 768px) {
    .header__nav {
      position: sticky;
      top: 0;
      z-index: 2;
      .header__hamburger {
        display: block;
        &.active .bar:nth-child(2) {
          opacity: 0;
        }
        &.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
      & .header__menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        & a {
          color: #fff;
          &:hover {
            color: lightgreen;
          }
        }
        & .menu__item {
          margin: 16px 0;
        }
        &.active {
          left: 0;
        }
      }
      .menu {
        &__contenedor {
          flex-direction: column;
          .contenedor {
            &__text,
            & button,
            &__titulo,
            &__boton {
              display: none;
            }
            & img {
              width: 90%;
            }
          }
        }
      }
  
      .container {
        &__col {
          width: 50%;
          margin-bottom: 30px;
        }
        &__location {
          display: none;
        }
      }
    }
  }
  