.login-container{
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .login-info-container{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 0.5rem;
      background-color: map-get($map: $colores, $key: login-cont-bg);
        & > p{
          font-size:  map-get($map: $fuentes, $key: "normal");
          margin-top: 1.5em;
        }
        .title{
          text-transform: capitalize;
          font-size: map-get($map: $fuentes, $key: "title-log");
          font-weight: 600;
          letter-spacing: 1px;
          color: map-get($map: $colores, $key: login-title);
        }
        .social-login{
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          cursor: pointer;
          padding-top: 1rem;
          .social-login-element{
              width: 12.5rem;
              height: 3.75rem;
              font-size: map-get($map: $fuentes, $key: "normal");
              font-weight: 700;
              letter-spacing: 0.5px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px;
              border: 1px solid  map-get($map: $colores, $key: border-login-element); 
              transition: all 0.3s ease;
              & img{
                width: 1.875rem;
                height: 1.875rem;
                position: relative;
                top: 0;
                left: -0.625rem;
              }
              &:hover{
                background-color: map-get($map: $colores, $key: hover-login);
              }
          }
        }
        .inputs-container{
          height: 55%;
          width: 85%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          & .input, & .btn{
            width: 90%;
            height: 3.125rem;
            font-size:  map-get($map: $fuentes, $key: "normal");
          }
          & .input{
            padding-left: 20px;
            border: none;
            border-radius: 5px;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all 0.1s ease;
            &:hover{
              border: 2px solid map-get($map: $colores, $key: hover-input-log);
            }
          }
          & .btn{
            width: 80%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #fff;
            border-radius: 5px;
            background-color: map-get($map: $colores, $key: btn-login);
            cursor: pointer;
            transition: all 0.3s ease;
            border: none;
            border-radius: 5px;
            &:hover{
              box-shadow: 0px 0px 2px grey ;
            }
          }
          & p{
            margin: 0;
          }
          & .span{
            color: map-get($map: $colores, $key: btn-login);
            font-weight: 600;
            cursor: pointer;
          }
        }
    }
    .image-container{
      width: 50%;
      padding: 2rem;
      background-color: map-get($map: $colores, $key: hover-input-login );
    }
  }
  