/*--------------LOGIN--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.body-login{
  padding: 10px 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  .container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    & .signup{
      opacity: 0;
      transition: opacity 0.09s ease;
    }
    &.active .signup{
      opacity: 1;
      transition: opacity 0.2s ease;
    }
    &.active .forms{
      height: 600px;
    }
    &.active .login{
      margin-left: -50%;
      opacity: 0;
      transition: margin-left 0.18s ease, opacity 0.15s ease;
    }
    .forms{
      display: flex;
      align-items: center;
      height: 440px;
      width: 200%;
      transition: heigth 0.2 ease;
    }
    .form{
      width: 50%;
      padding: 30px;
      background: #fff;
      transition: margin-left 0.18s ease;
      .title{
        position: relative;
        font-size: 27px;
        font-weight: 600;
        &::before{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 30px;
          background: green;  
          border-radius: 25px;
        }
      }
      .input-field{
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 30px;
        & input{
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 0 35px;
          border: none;
          outline: none;
          font-size: 16px;
          border-bottom: 2px solid #ccc;
          border-top: 2px solid transparent;
          transition: all 0.2 ease;
          &:is(:focus,:valid){
            border-bottom-color: map-get($map: $colores, $key: link-header);
          }
          &:is(:focus,:valid) ~ i{
            color: map-get($map: $colores, $key: link-header);
          }
        }
        & i{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #999;
          font-size: 23px;
          transition: all 0.2 ease;
          &.icon{
            left: 0;  
          }
          &.showHidePw{
            right: 0;
            cursor: pointer;
            padding: 10px;
          }
        }
      }
      .checkbox-text{
        display: flex;
        align-items: center;
        justify-content: space-between ;
        margin-top: 20px;
        .checkbox-content{
          display: flex;
          align-items: center; 
          & input{
            margin: 0 8px -2px 4px;
            accent-color: map-get($map: $colores, $key: link-header);
          }
        }
      }
      .text{
        color: #333;
        font-size: 14px;
      }
      & a.text{
        color: map-get($map: $colores, $key: link-header);
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      .button{
        margin-top: 35px;
        & input{
          border: none;
          color: #fff;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 1px;
          border-radius: 6px;
          background-color: map-get($map: $colores, $key:link-header);
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover{
            background: map-get($map: $colores, $key: btn-login);
          }
        }
      }
      .login-signup{
        margin-top: 30px;
        text-align: center;
      }
    }
  }
}