
.menu__container {
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
    background: linear-gradient(
      -45deg,
      #f2eee3,
      #e9d1d0,
      #fae0ba,
      #eb8c73,
      #f0ded1,
      #dec4a7
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    .container__cafe {
      width: 100%;
      height: auto;
      margin: 25px 0px 25px 0px;
      .carta__cafe {
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        grid-gap: 20px;
        padding: 25px;
        justify-content: space-evenly;
        align-items: flex-start;
        .carta {
          margin-bottom: 25px;
          margin-right: 20px;
          border: 1px solid #cccccc;
          min-height: 283px;
          min-width: 160px;
          position: relative;
          width: 225px;
          height: 225px;
          background: url(../multimedia/img/carta-frappuccino.jpg) center
            no-repeat;
          background-size: cover;
          border-radius: 20px;
          z-index: 1;
          overflow: hidden;
          &::before {
            content: " ";
            position: absolute;
            left: 0;
            width: 100%;
            height: calc(60% + 35px);
            background-color: #fff;
            transition: transform 0.5s 0.25s ease-in;
            z-index: -1;
          }
          &::after {
            content: " ";
            position: absolute;
            left: 0;
            width: 100%;
            height: calc(60% + 35px);
            background-color: #fff;
            transition: transform 0.5s 0.25s ease-in;
            z-index: -1;
          }
          &::before {
            top: 0;
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
            transform: translateY(-100%);
          }
          &::after {
            bottom: 0;
            clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
            transform: translateY(100%);
          }
          &:hover::before,
          &:hover::after {
            transform: translateY(0);
          }
          &:hover .carta__content {
            opacity: 1;
            transition-delay: 0.75s;
          }
          &__content {
            opacity: 0;
            transition: opacity 0.25s;
            .carta__title {
              font-family: "Popins";
              font-size: map-get($map: $fuentes, $key:normal);
              text-align: center;
              color: #d4a770;
            }
            .carta__description {
              font-family: "Roboto";
              font-size: map-get($map: $fuentes, $key:normal);
              font-style: italic;
              text-align: center;
            }
          }
        }
      }
    }
  }
  
  /*FONDO PARA CARTAS*/
  #frappuccino{
    background: url(../multimedia/img/carta-frappuccino.jpeg) center no-repeat;
    background-size: cover;
  }
  #caramel-frappuccino{
    background: url(../multimedia/img/carta-caramel-frappuccino.jpg) center no-repeat;
    background-size: cover;
  }
  #mocha-blanco{
    background: url(../multimedia/img/carta-mocha-blanco.jpg) center no-repeat;
    background-size: cover;
  }
  #mocha-frappuccino{
    background: url(../multimedia/img/carta-mocha.jpg) center no-repeat;
    background-size: cover;
  }
  #chai-frappuccino{
    background: url(../multimedia/img/carta-chai-frappuccino.jpg) center no-repeat;
    background-size: cover;
  }
  
  #mocha-oreo{
    background: url(../multimedia/img/carta-mocha-oreo.jpg) center no-repeat;
    background-size: cover;
  }
  #latte-machiatto{
    background: url(../multimedia/img/carta-latte-machiatto.jpg) center no-repeat;
    background-size: cover;
  }
  #skinny-macchiatto{
    background: url(../multimedia/img/skinny-macchiatto.jpg) center no-repeat;
    background-size: cover;
  }
  
  #cold-brew{
    background: url(../multimedia/img/carta-cold-brew.jpg) center no-repeat;
    background-size: cover;
  }
  #chocolate-caliente{
    background: url(../multimedia/img/carta-chocolate.jpg) center no-repeat;
    background-size: cover;
  }
  