.carousel {
    width: 80%;
    margin: 20px auto auto auto;
    &-inner {
      padding: 1em;
      .card {
        border: none;
        border-radius: 0;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        &-body {
          border-top: 1px solid lightgray;
        }
      }
    }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: gray;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .seccion_noticias {
    width: 77%;
    @include flexible(flex, column, wrap, center, none);
    margin: 20px auto;
    section {
      margin-top: 40px;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #cccccc;
      box-shadow: 0px 0px 4px #c9c9c9;
      color: #333333;
      font-size: map-get($map: $fuentes, $key:normal);
      overflow: hidden;
      .titulo {
        font-size: map-get($map: $fuentes, $key:big);
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
        margin-top: -20px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #cccccc;
      }
    }
    & .article {
      margin: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    &.date {
      color: grey;
      font-size: map-get($map: $fuentes, $key:small);
    }
    & .sticker1,
    & .sticker2 {
      position: absolute;
      margin-top: -38px;
      z-index: 0;
    }
    & .sticker1 {
      margin-left: 0%;
    }
    & .sticker2 {
      margin-left: 70%;
    }
    #history {
      margin-top: 20px;
      margin-right: 20px;
    }
  }
  